@font-face {
    font-family: "Bebas Neue";
    src: url("../font/BebasNeue.otf");
}

@font-face {
    font-family: "Aller";
    src: url("../font/Aller_Rg.ttf");
}

h1, h2, h3 {
    font-family: "Bebas Neue";
    font-weight: normal;
}

th, td {
    padding: 2px;
    margin: 1px;
    border: 1px dotted black;
    font-family: monospace;
    text-align: center;
}

.sidebyside li {
    display: inline-block;
    margin: 10px;
}

.sidebyside div {
    display: inline-block;
}

.img-and-txt img {
    height: 2em;
    vertical-align: middle;
    display: inline-block;
    margin: 0;
}

#mdn-logo-holder {
    background: url('../img/mdn-sprite.svg') no-repeat 0px -86px;
    width: 65px;
    height: 57px;
    margin: 0;
    padding: 0;
    vertical-align: middle;
}

.float-left {
    float: left;
}




